<div id="id-index" data-id="{{ element }}" class="col">
    <div class="card shadow-sm bg-light">

            <div class="card-body">
              
              <div id="id-result" class="d-flex flex-column align-items-center bg-light">
                <a href="https://google.com" class="stretched-link" title="подробная информация"></a>

                <h3 id="id-index-name" class="card-title">Индекс {{element.0.1}}</h3>
                <p class="card-text">Текушее значение <span id="id-index-curent-val" class="badge bg-secondary">{{element.4.1}}</span></p>

                <p class="card-text">Изменение к открытию 
                  <span id="id-index-change-open" class="position-relative d-inline-block p-3 border badge bg-secondary">
                      <!-- Здесь будет отображаться значение изменения -->
                      <span id="id-index-change-open-value">0.00</span>
                      <span id="id-index-change-open-percent" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                          <span id="id-index-change-open-percent-value">0%</span>
                          <span class="visually-hidden">Изменение цены в процентах</span>
                      </span>
                  </span>
              </p>


                
                
              </div>
            </div>
    </div>
</div>