{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h2>Login</h2>
                <form method="post">
                  {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger shadow-sm py-2">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}


                  <div data-mdb-input-init class="form-outline mb-4">
                      {{ form.username }}
                        {% if form.username.errors %}
                          {% for error in form.username.errors %}
                            <div class="card-body">
                              <p class="text-danger">{{ error|escape }}</p>
                            </div>
                          {% endfor %}                    
                        {% endif %}
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    {{ form.password }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="card-body">
                          <p class="text-danger">{{ error|escape }}</p>
                        </div>
                   {% endfor %}
                   {% endif %}
                   {% for error in form.non_field_errors %}
                   <div class="card-body">
                     <p class="text-danger">{{ error|escape }}</p>
                   </div>
                   {% endfor %}
                  </div>
                  <button data-mdb-button-init data-mdb-ripple-init  class="btn btn-outline-dark btn-rounded btn-lg" type="submit">Login</button>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
