{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
                <a class="btn btn-outline-primary btn-rounded btn-lg" href="{% url 'user:login' %}">{% translate 'Log In' %}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
